@using System.Security.Principal
@using System.Security.Claims
@inject IWebHostEnvironment Env

<ul class="navbar-nav">
    <!-- ENV + LOGIN INFO -->
    <li class="nav-item mx-1">
        <span class="navbar-text align-items-center">
            Env: <strong>@Env.EnvironmentName</strong>
        </span>
    </li>
    <li class="nav-item mx-1">
        @if (Env.IsDevelopment())
        {
            <span class="navbar-text align-items-center">
                Logged In as: <strong>localhost</strong>
            </span>
        }
        else if (User.Identity.IsAuthenticated)
        {
            <span class="navbar-text align-items-center">
                Logged In as: <strong>@User.FindFirst(ClaimTypes.Name)?.Value</strong>
            </span>
        }
    </li>
</ul>
