@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is my CV Web App!</h1>

    <div>
        Zalogowany ID: @User.FindFirst(ClaimTypes.NameIdentifier)?.Value
        Name: @User.FindFirst(ClaimTypes.Name)?.Value
        Provider: @User.FindFirst("idp")?.Value
    </div>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
