@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is my CV Web App!</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="alert alert-success mt-4">
            <strong>Zalogowany jako:</strong>
            @User.FindFirst("preferred_username")?.Value
            @* lub @User.FindFirst("email")?.Value *@
        </div>
    }
    else
    {
        <div class="alert alert-warning mt-4">
            Zaloguj się, by zobaczyć CV!
        </div>
    }

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
